# LMDB databases (only by naming convention in the first case)
*lmdb
*.mdb

# train/val splits
train.txt
val.txt
categories.txt
test.txt
test_categories.txt
test_answers.txt

# python binaries
*.pyc

# mac specific
.DS_Store

# machine-specific configuration file
server.conf
config.yaml
