function config = lenet_config()

config = struct();

config.caffe_home = '/Users/emonson/Programming/caffe/build/tools';
config.train_image_data_root = '/Users/emonson/Data/JanBrueghel/ImageNet/Sets/resized_gray_256';
config.test_image_data_root = '/Users/emonson/Data/JanBrueghel/ImageNet/Sets/resized_gray_256';

config.data_split_rand_state = 0;
config.validation_fraction = 0.2;

% Test batch_size set at 100 by default. 
% test_iterations * batch_size should be about equal to the number of test images
%   if you want to run through all of them. Otherwise, if there aren't enough test
%   images they'll cycle through in some unknown way...
config.test_iterations = 100;
config.test_model_weights = 'model_iter_10000.caffemodel';
% test mode = GPU or CPU
config.test_mode = 'CPU';

end